.App {
  text-align: center;
  /* make this slide up infinitely without moving the text up */
  background-image: url('./images/stars.gif');
  padding: 40px 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display: none;
}

@keyframes 360-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Leaderboard {
    width: 90%;
    margin: 0 auto;
}

.Leaderboard h2 {
    display: inline-block;
    width: calc(75% - 2px);
}

.Leaderboard h6 {
    display: inline-block;
    width: calc(25% - 2px);
}
