.App {
  text-align: center;
  background-image: url('./images/stars.gif');
  padding: 25px 15px;
}

.App-logo-container {
  width: 75%;
  margin: 0 auto 20px;
}

.App-logo {
  width: 100%;
}

.Leaderboard {
  width: 90%;
  margin: 0 auto 50px;
}

.Leaderboard table {
  width: 100%;
}

.Leaderboard caption h2 {
  margin: 8px 0;
}

.Leaderboard caption h3 {
  margin: 15px 0;
}

.Leaderboard th,
.Leaderboard td {
  width: calc(25%);
  display: inline-block;
}

.Leaderboard th {
  margin: 15px 0;
}

.Leaderboard td {
  margin: 10px 0;
}

.Bonus article {
  margin-bottom: 50px;
}

.Bonus h4 {
  margin-bottom: 10px;
}

.Bonus h6 {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.w--100p {
  width: 100%;
}

@keyframes 360-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .App {
    padding: 45px 30px;
  }

  .App-logo-container {
    width: 300px;
  }

  .Leaderboard caption h2 {
    padding: 15px 0;
  }

  .Leaderboard th {
    margin: 25px 0;
  }

  .Leaderboard td {
    margin: 20px 0;
  }

  .Bonus article {
    margin-bottom: 75px;
  }

  .Bonus h4 {
    margin-bottom: 20px;
  }

  .Bonus h6 {
    margin-bottom: 30px;
  }

  .Footer-img-container {
    max-width: 600px;
    margin: 0 auto;
  }
}
