.App {
  text-align: center;
  background-image: url('./images/stars.gif');
  padding: 40px 15px;
}

.App-logo-container {
  width: 75%;
  margin: 0 auto 20px;
}

.App-logo {
  width: 100%;
}

.App-header {

}

.Leaderboard {
  width: 90%;
  margin: 0 auto;

  /* REMOVE */
  /*background-color: white;*/
}

.Leaderboard table {
  width: 100%;
}

.Leaderboard caption h2 {
  padding: 8px 0;
}

.Leaderboard caption h2 {
  padding: 8px 0;
}

.Leaderboard th,
.Leaderboard td {
  width: calc(25%);
  display: inline-block;
}

.Leaderboard th {
  padding: 10px 0;
}

.Leaderboard td {
  padding: 10px 0;
}

.hidden {
  display: none;
}

@keyframes 360-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
